.effect {
    margin: 70px 0 0 auto;
    width: calc(100% - 180px);
    background: #F3F5F8;
    backdrop-filter: blur(71.634px);
    padding-top: 60px;
    .container {
        margin-right: 0;
        width: 100%;
    }
    &__inner {
        padding-left: 82px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
    }
    &__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 130%;
        color: #18214D;
        font-family: $rubic;
    }
    &__bottom {
        margin-top: 50px;
        display: flex;
    }
    &__items {
        padding-right: 30px;
        height: 450px;
        width: 330px;
        overflow-y: auto;
        flex-shrink: 0;
    }
    &__item {
        background: rgba(#FFFFFF, 0.5);
        border: 0.498264px solid rgba(56, 78, 112, 0.12);
        backdrop-filter: blur(32.0104px);
        display: flex;
        align-items: center;
        padding: 0 23px;
        height: 80px;
        font-size: 20px;
        line-height: 130%;
        color: #5C6077;
        font-family: $rubic;
        border-radius: 11.0381px;
        transition: all .3s;
        &:hover {
            background: #FFFFFF;
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        i {
            background: #F3F5F8;
            border-radius: 9.96528px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            transition: all .3s;
        }
        &--active {
            background: #FFFFFF;
            pointer-events: none;
            border: 0.498264px solid rgba(56, 78, 112, 0.12);
            i {
                background: #233E99;
            }
            path {
                fill: #fff;
            }
        }
    }
    &__slider {
        flex-grow: 1;
        margin-left: 40px;
        width: calc(100% - 400px);
        padding-bottom: 55px;
        position: relative;
        background: #F3F5F8;
        &-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -1;
            &--active {
                position: static;
            }
        }
        &-item {
            background: #FFFFFF;
            border: 0.446813px solid rgba(56, 78, 112, 0.12);
            backdrop-filter: blur(28.705px);
            border-radius: 9.89827px;
            padding: 25px 33px;
            height: 420px;
            transition: all 0s;
            &:hover {
                background: #233E99;
                border: 0.446813px solid rgba(56, 78, 112, 0.12);
                .effect__slider-title,
                .effect__slider-desc,
                .effect__slider-price-old,
                .effect__slider-price-new {
                    color: #fff;
                }
                .effect__slider-link {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
        &-img {
            height: 180px;
            text-align: center;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #18214D;
            margin-top: 20px;
            font-family: $rubic;
            transition: all 0s;
        }
        &-desc {
            font-size: 12px;
            line-height: 170%;
            color: #5C6077;
            margin-top: 15px;
            padding-right: 20px;
            transition: all 0s;
        }
        &-price {
            &-old {
                font-size: 12px;
                line-height: 130%;
                text-decoration-line: line-through;
                color: #5C6077;
                margin-top: 28px;
                font-family: $rubic;
                transition: all 0s;
            }
            &-new {
                font-weight: 500;
                font-size: 22.0183px;
                line-height: 130%;
                color: #233E99;
                font-family: $rubic;
                transition: all 0s;
            }
        }
        &-bottom {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-nav {
            align-items: center;
            flex-shrink: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            &--active {
                position: static;
            }
        }
        &-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #233E99;
            border-radius: 81.4367px;
            width: 110px;
            height: 44px;
            padding: 0 10px;
            flex-shrink: 0;
        }
    }
    .swiper-pagination {
        position: static;
        font-weight: 600;
        font-size: 26px;
        line-height: 175%;
        display: flex;
        align-items: center;
        text-align: right;
        margin-right: 25px;
    }
    .swiper-pagination-current {
        color: #233E99;
    }
    .swiper-button-next,
    .swiper-button-prev {
        // opacity: 1;
        position: static;
        margin: 0;
        padding: 0 7px;
        &:after {
            display: none;
        }
    }
    .swiper-button-prev {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1366px) {
    .effect {
        width: 100%;
        &__inner {
            padding-left: 210px;
        }
        &__title {
            font-size: 42px;
        }
        &__slider {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .effect {
        &__top {
            display: block;
        }
        &__title {
            font-size: 37px;
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .effect {
        margin-top: 30px;
        padding-top: 30px;
        &__top {
            padding-right: 0;
        }
        &__inner {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .effect {
        &__title {
            font-size: 22px;
        }
        &__inner {
            position: relative;
        }
        .swiper-pagination {
            font-size: 22px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateY(-50%);
        }
        &__bottom {
            display: block;
            margin-top: 20px;
        }
        &__slider {
            margin: 30px 0 0;
            width: 100%;
            padding-bottom: 80px;
            &-item {
                padding: 23px 12px;
                height: 300px;
            }
            &-buttons {
                display: none;
            }
            &-img {
                height: 120px;
            }
            &-title {
                font-size: 16px;
            }
            &-desc {
                margin-top: 5px;
                font-size: 10px;
            }
            &-price {
                &-old {
                    margin-top: 9px;
                    font-size: 9px;
                }
                &-new {
                    font-size: 15px;
                }
            }
        }
        &__items {
            height: unset;
            display: flex;
            overflow-x: auto;
            width: 100%;
            padding: 0;
        }
        &__item {
            margin: 0 10px 0 0 !important;
            flex-shrink: 0;
            padding: 7px 12px;
            background: none;
            font-size: 12px;
            line-height: 130%;
            -webkit-border-radius: 24px;
            -moz-border-radius: 24px;
            border-radius: 24px;
            opacity: 0.5;
            color: #25409A;
            border-color: #25409A;
            height: unset;
            i {
                display: none;
            }
            &--active {
                color: #fff;
                background: #233E99 !important;
                opacity: 1;
                border-color: transparent;
                path {
                    fill: unset;
                }
            }
        }
    }
}