.main {
    &-top {
        padding-top: 40px;
        background: #FAFAFA;
        &__inner {
            display: flex;
            padding-left: 178px;
        }
    }
    &-bottom {
        z-index: 2;
        position: relative;
        margin-top: -35px;
        padding-bottom: 35px;
    }
    &__left {
        width: 460px;
        flex-shrink: 0;
        padding-top: 80px;
    }
    &__img {
        flex-grow: 1;
        img {
            width: 100%;
            max-height: 602px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 65px;
        line-height: 117%;
        color: #1D3174;
        font-family: $rubic;
    }
    &__desc {
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        color: #1D3174;
        margin-top: 18px;
        max-width: 415px;
        &-mob {
            display: none;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 25px;
        padding-left: 178px;
    }
    &__item {
        background: #F1F4FF;
        border-radius: 5px;
        padding-bottom: 27px;
        transition: all .3s;
        overflow: hidden;
        &:hover {
            background: #0F33AD;
            box-shadow: 0px 16.3048px 25.4762px rgba(196, 213, 228, 0.6);
            transform: translateY(-20px);
            cursor: pointer;
            path {
                fill: #6486F5;
            }
            .main__item-title {
                color: #fff;
            }
        }
        &-icon {
            display: flex;
            justify-content: flex-end;
            height: 145px;
        }
        &-title {
            margin-top: 22px;
            font-weight: 600;
            font-size: 15.2857px;
            line-height: 155%;
            color: #233E99;
            padding: 0 24px;
        }
    }
}

.menu {
    position: fixed;
    width: 200px;
    height: 768px;
    // left: 0;
    top: 0;
    z-index: 10;
    background: #162967;
    left: calc(((100% - 1366px) / 2));
    @media screen and (max-height: 768px) {
        height: 100vh;
    }
    &__inner {
        padding: 34px 0px 60px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__logo {
        text-align: center;
    }
    &__items {
        margin-top: 60px;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 50px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__btn {
        flex-shrink: 0;
        border: 2px solid #F47A20;
        border-radius: 10.1333px;
        margin: auto auto 0;
        width: 152px;
        height: 33.78px;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        font-family: $rubic;
        &:hover {
            background-color: #F47A20;
            color: #FFFFFF;
        }
    }
    &__item {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 141%;
        color: #F2F5FF;
        font-family: $rubic;
        padding: 0 24px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #F47A20;
            width: 6px;
            height: 33px;
            opacity: 0;
        }
        &:hover {
            span {
                opacity: 1;
                color: #FFFFFF;
            }
            path {
                fill: #fff;
            }
            &:before {
                opacity: 1;
            }
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        span {
            opacity: 0.5;
            transition: all .3s;
        }
        &-icon {
            margin-top: 3px;
            width: 17px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            margin-right: 20px;
        }
        &--active {
            pointer-events: none;
            span {
                opacity: 1;
                color: #FFFFFF;
            }
            path {
                fill: #fff;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}

.header {
    display: none;
}

@media screen and (max-width: 1366px) {
    .menu {
        left: 0;
    }
    .main {
        &-top {
            &__inner {
                padding-left: 210px;
            }
        }
        &__items {
            padding-left: 210px;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__title {
            font-size: 40px;
        }
        &__left {
            max-width: 380px;
        }
        &__desc {
            font-size: 18px;
        }
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
        }
    }
}

@media screen and (max-width: 992px) {
    .menu {
        top: -100%;
        left: 0;
        height: 100vh;
        background: #1D293F;
        width: 100%;
        padding-top: 120px;
        transition: all .3s;
        &--active {
            top: 0;
        }
        br {
            display: none;
        }
        &__inner {
            padding: 0 0 45px;
        }
        &__items {
            margin: 0 0 30px;
        }
        &__item {
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            i {
                margin-top: 0;
            }
        }
        &__logo {
            display: none;
        }
        &__btn {
            width: calc(100% - 48px);
            height: 50px;
            border-radius: 5px;
        }
    }
    .main {
        &-top {
            &__inner {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &-bottom {
            margin-top: -40px;
            padding-bottom: 15px;
        }
        &__items {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            gap: unset;
            width: 100%;
            overflow-x: auto;
        }
        &__item {
            width: 130px;
            flex-shrink: 0;
            flex-grow: 1;
            background: #0F33AD;
            box-shadow: 0px 16.3048px 25.4762px rgba(196, 213, 228, 0.6);
            transform: translateY(-20px);
            cursor: pointer;
            path {
                fill: #6486F5;
            }
            .main__item-title {
                color: #fff;
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
            &-icon {
                height: 100px;
                width: auto;
                svg {
                    height: 100%;
                    width: auto;
                }
            }
            &-title {
                margin-top: 15px;
                font-size: 10.831px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &__left {
            padding-top: 40px;
        }
    }
    .header {
        display: block;
        background: #233E99;
        position: sticky;
        z-index: 15;
        width: 100%;
        top: 0;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 65px;
            padding: 0 15px;
            position: relative;
        }
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 114px;
            img {
                width: 100%;
            }
        }
        &__burger {
            width: 22px;
            height: 18px;
            position: relative;
            display: flex;
            align-items: center;
            span {
                width: 100%;
                height: 2px;
                display: block;
                background-color: #fff;
                transition: all .3s;
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            &--active {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                        top: 8px;
                    }
                    &:nth-child(2) {
                        transform: scale(0.00001);
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                        bottom: 8px;
                    }
                }
            }
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__btn {
            width: 132px;
            height: 30px;
            border: 1px solid #F47A20;
            border-radius: 4px;
            margin-left: 15px;
            text-align: center;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 28px;
            color: #fff;
            transition: 0.3s;
            &:hover {
                background-color: #F47A20;
            }
        }
        &__phone {
            font-size: 14px;
            line-height: 120%;
            font-weight: 500;
            color: #fff;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &__left {
            padding-top: 30px;
            max-width: 280px;
        }
        &__title {
            font-size: 30px;
        }
        &__desc {
            font-size: 21px;
            &-dekstop {
                display: none;
            }
            &-mob {
                display: unset;
            }
        }
    }
    .header {
        &__inner {
            min-height: 50px;
        }
        &__btn {
            display: none;
        }
        &__phone {
            width: 23px;
            height: 22px;
            font-size: 0;
            background-image: url(../img/h_tel.png);
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s;
            &:hover {
                opacity: 0.7;
            }
        }
        &__logo {
            width: 70px;
        }
    }
    .menu {
        padding-top: 105px;
    }
}

@media screen and (max-width: 640px) {
    .main {
        &-top {
            padding: 0;
            &__inner {
                padding: 65px 88px 70px 15px;
                padding-right: 88px;
                min-height: 310px;
                position: relative;
            }
        }
        &__left {
            max-width: 100%;
            padding: 0;
        }
        &__desc {
            max-width: 100%;
        }
        &__img {
            max-width: unset;
            position: absolute;
            left: 130px;
            top: 0;
            img {
                height: 320px;
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .main {
        &__item {
            &-title {
                br {
                    display: none;
                }
            }
        }
    }
}