.reduce {
    padding: 60px 0;
    overflow: hidden;
    font-family: $rubic;
    &__inner {
        padding-left: 130px;
    }
    &__title {
        font-size: 50px;
        line-height: 125%;
        font-weight: 400;
        color: #010000;
        max-width: 875px;
        strong {
            font-weight: 700;
        }
    }
    &__info {
        height: 305px;
        margin-top: 45px;
        background: #ECFCFF;
        opacity: 0.99;
        padding: 58px 76px 38px;
        position: relative;
        &-top {
            display: flex;
            img {
                margin-top: 14px;
                margin-right: 50px;
                flex-shrink: 0;
                width: 46px;
                height: 46px;
            }
        }
        &-title {
            max-width: 550px;
            font-weight: 400;
            font-size: 24px;
            line-height: 160%;
            color: #010000;
            strong {
                font-weight: 500;
            }
        }
        &-hint {
            font-size: 16px;
            line-height: 175%;
            color: #010000;
            margin-top: 39px;
            max-width: 705px;
        }
        &-girl {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__hint {
        margin-top: 80px;
        font-size: 24px;
        line-height: 160%;
        color: #010000;
        font-weight: 400;
        max-width: 795px;
        strong {
            font-weight: bold;
        }
    }
}