.slider {
    padding-top: 35px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        max-width: 360px;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        color: #1D3174;
        font-family: $rubic;
        margin-left: 130px;
    }
    &__desc {
        max-width: 435px;
        font-size: 22px;
        line-height: 160%;
        color: #1D3174;
        font-family: $rubic;
    }
    &__slider {
        margin-top: 40px;
        &-scroll {
            bottom: unset;
            top: 0;
            left: 0 !important;
            width: 100% !important;
            background: #F1F4FF;
        }
        .swiper-scrollbar-drag {
            background: #0F33AD;
        }
    }
    &__slide {
        display: flex;
        padding: 0px 90px 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #FFFFFF;
            opacity: 0.2;
            width: 500px;
            height: 100%;
            pointer-events: none;
            left: 0;
            top: 0;
        }
        &-left {
            width: 500px;
            margin-right: 30px;
            flex-shrink: 0;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
        &-right {
            padding: 86px 0 105px;
            max-width: 485px;
            position: relative;
            z-index: 2;
        }
        &-title {
            font-weight: 500;
            font-size: 40px;
            line-height: 130%;
            color: #170D84;
            font-family: $rubic;
        }
    }
    &__slide1 {
        .slider__slide-left {
            align-items: flex-end;
        }
    }
    &__items {
        margin-top: 40px;
    }
    &__item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        color: #170D84;
        &:not(:last-child) {
            margin-bottom: 45px;
        }
        i {
            width: 53px;
            height: 53px;
            background: #FFFFFF;
            box-shadow: 0px 10.6147px 17.4385px rgba(67, 204, 138, 0.36);
            border-radius: 15.1639px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-right: 35px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 12px;
        line-height: 175%;
        text-decoration-line: underline;
        color: #170D84;
        display: block;
        margin-top: 45px;
    }
    &__slide2 {
        .slider__item {
            i {
                box-shadow: 0px 10.6147px 17.4385px rgba(67, 155, 204, 0.36);
            }
        }
    }
    &__slide3 {
        .slider__item {
            i {
                box-shadow: 0px 10.6147px 17.4385px rgba(127, 67, 204, 0.21);
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .slider {
        &__title {
            margin-left: 210px;
        }
        &__slide {
            padding-left: 200px;
            &-left {
                width: 420px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .slider {
        &__top {
            display: block;
            padding-left: 210px;
        }
        &__title {
            margin-left: 210px;
            font-size: 37px;
            max-width: 100%;
            margin-left: 0;
        }
        &__desc {
            font-size: 18px;
            margin-top: 15px;
        }
        &__slide {
            padding-right: 20px;
            &-left {
                width: 350px;
            }
            &-title {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .slider {
        padding-top: 15px;
        &__top {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__slider {
            margin-top: 15px;
        }
        &__slide {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        &__title {
            font-size: 30px;
        }
        &__desc {
            font-size: 14px;
            margin-top: 11px;
        }
        &__slide {
            &-left {
                width: 260px;
            }
            &-right {
                padding: 45px 0;
            }
            &-title {
                font-size: 20px;
            }
        }
        &__items {
            margin-top: 25px;
        }
        &__item {
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            i {
                margin-right: 15px;
            }
        }
        &__link {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 640px) {
    .slider {
        &__slide1 {
            .slider__slide-left {
                background: #B8F0D9;
            }
            .slider__link {
                color: #0DBA71;
            }
        }
        &__slide2 {
            .slider__slide-left {
                background: #B8DCF0;
            }
            .slider__link {
                color: #51AAED;
            }
        }
        &__slide3 {
            .slider__slide-left {
                background: #D4C9FD;
            }
            .slider__link {
                color: #D4C9FD;
            }
        }
        &__slide {
            flex-wrap: wrap;
            background: transparent !important;
            position: relative;
            &:before {
                display: none;
            }
            &-left {
                margin: 0 0 0 -15px;
                height: 220px;
                width: calc(100% + 30px);
                justify-content: center;
                align-items: flex-end;
                img {
                    max-height: 160px;
                    width: auto;
                }
            }
            &-right {
                margin-left: auto;
                margin-right: auto;
                padding: 10px 5px 50px;
                position: static;
                width: 100%;
                max-width: unset;
            }
            &-title {
                font-size: 24px;
                position: absolute;
                top: 15px;
                left: 0;
                width: 100%;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                br {
                    display: none;
                }
            }
        }
        &__item {
            align-items: flex-start;
            i {
                margin-top: 3px;
                width: 35px;
                height: 35px;
                border-radius: 10.0247px;
                margin-right: 20px;
                box-shadow: 0px 7.01726px 11.5284px rgba(177, 177, 177, 0.36) !important;
                svg {
                    max-width: 17px;
                    height: auto;
                }
            }
        }
        &__link {
            margin-top: 35px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}