@import 'reset';
@import 'ux';
@import 'main';
@import 'slider';
@import 'protect';
@import 'info';
@import 'reduce';
@import 'lungs';
@import 'footer';
@import 'catalog';
@import 'air';
@import 'system';
@import 'qa';
@import 'eko';
@import 'effect';
html {
    scroll-behavior: smooth;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1366px;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0;
    margin-right: 0;
}

@media (min-width: 1300px) {
    .container {
        width: 1280px;
    }
}

@media screen and (max-width: 1366px) {
    .wrapper {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {}